@model IEnumerable<Gift_Card.Models.Account>
@{
    ViewBag.Title = "PendingOrder";
    Layout = "~/Views/Shared/admin.cshtml";
}
<link href="~/assets/css/loading.css" rel="stylesheet" />

<link href="~/notification/css/style.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <section class="">
        <div class="container" style="margin-left:10px;margin-right:10px;">
            <h3 class="m-b-50 heading-line">Pending Order (@Session["Pending_Order"])</h3>

            <div class="notification-ui_dd-content">
                @foreach (var file in Model)
                {

                    <div class="container">
                        <h4><p><b>Order No: </b> @file.rid</p></h4>
                        <div class="notification-list notification-list--unread col-md-12" style="table-layout:fixed">

                            <div class="col-md-6">
                                <div class="notification-list_content">
                                    <div class="notification-list_img">
                                        @if (file.Account_img != null)
                                        {
                                            var base64 = Convert.ToBase64String(file.Account_img);
                                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                            <img src='@imgsrc' style="max-width:100px;max-height:100px" / >
                                        }
                                        else
                                        {
                                            <img src="~/images/logo2.png">
                                        }

                                    </div>
                                    <div class="notification-list_detail">
                                        <p><b>@file.Full_Name</b></p>
                                        <p class="text-muted"><b>Order On: </b><small>@file.OrderDate</small></p>
                                        <p class="text-muted"><b>Status: </b><small>@file.statusOrder</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5" align="center" style="align-content:center;">

                            </div>
                            <div class="col-md-1">
                                <div class="notification-list_feature-img" align="center">
                                    <div class="link-product-add"> <a href='@Url.Action("OrdersDetailsAdmin", "Order", new { id = file.order_ID, name=file.Full_Name ,address=file.Address })' id="a1"><img src="~/assets/images/details.png" style="width:40px;height:40px;" /></a></div><br />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <b>Shipping:</b> @file.Address
                        </div>
                    </div>
                    if(file.statusOrder == "Pending")
                    {
                        <div class="container col-md-12" style="float:right">
                            <a href='@Url.Action("Delivered", "Order", new { id = file.order_ID})' class="btn btn-danger" style="width:100px;height:30px;border-radius:30px;font-size:20px;float:right">Accept</a>
                        </div>
                    }
                }
            </div>
        </div>
    </section>

</div>